.bg-custom {
  background-image: url("https://images.unsplash.com/photo-1662473991701-c69c3b6bf6fb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmxhY2slMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



